@model WebStore.ViewModels.EmployeeView

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
    <table>
        <tr>
            <td>@Model.Id</td>
            <td>
                @Html.ActionLink(Model.FirstName, "Index", new { id = Model.Id })
            </td>
            <td>@Model.SurName</td>
            <td>@Model.Patronymic</td>
            <td>@Model.Age</td>
            <td>@Model.City</td>
            <td>@Model.Profession</td>
            <td>@Model.Experience</td>
        </tr>
    </table>
</body>
</html>